.challengeBoxContainer {
	height: 100%;
	background: var(--white);
	border-radius: 5px;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
	padding-top: 1.5rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;
}

.challengeNotActive {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.challengeNotActive strong {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.4;
}

.challengeNotActive p {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
	max-width: 70%;
	margin-top: 3rem;
}

.challengeNotActive p img {
	margin-bottom: 1rem;
}

.challengeActive {
	height: 100%;

	display: flex;
	flex-direction: column;

	position: relative;
}

.challengeActive header {
	color: var(--blue);
	font-weight: 600;
	font-size: 1.25rem;
	padding: 0 2rem 1.5rem;
	border-bottom: 1px solid var(--gray-line);
}

.challengeActive main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
}

.challengeActive main strong {
	font-size: 2rem;
	font-weight: 600;
	color: var(--title);
	margin: 1.5rem 0 1rem;
}

.challengeActive main p {
	line-height: 1.5;
}

.challengeActive footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.challengeActive footer button {
	height: 5rem;

	display: flex;
	align-items: center;
	justify-content: center;

	border-top: 1px solid var(--gray-line);
	color: var(--white);
	font-size: 1.1rem;
	font-weight: 600;

	transition: background-color 0.2s;
}

.challengeActive footer button.challengeFailedButton {
	color: var(--red);
	background: var(--red-light);
	border-right: 1px solid var(--gray-line);
}

.challengeActive footer button.challengeFailedButton:hover {
	color: var(--white);
	background: var(--red);
}

.challengeActive footer button.challengeSucceededButton {
	color: var(--green);
	background: var(--green-light);
}

.challengeActive footer button.challengeSucceededButton:hover {
	color: var(--white);
	background: var(--green);
}
