.inputContainer {
	height: 80px;
	background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
	border-radius: 5px;

	display: flex;
	align-items: center;
}

.inputContainer input {
	height: 100%;
	width: 80%;
	background: transparent;
	border: 0;
	outline: none;
	color: var(--white);
	font-size: 1rem;
	padding-left: 1.87rem;
}

.inputContainer input::placeholder {
	color: var(--text-highlight);
}

.inputContainer button {
	height: 100%;
	width: 20%;
	background: var(--blue-dark);
	border: 0;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
