.sideBarContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 2rem 0;
	/* padding-bottom: 2rem; */
	background: var(--white);
	box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);

	grid-area: sidebar;
	position: fixed;
	height: 100%;
	width: 7rem;
}

.sideBarContainer > img {
	width: 3rem;
	height: 2.625rem;
}

.sideBarContainer > ul {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.sideBarContainer > ul li a {
	height: 3.5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.sideBarContainer > ul li a svg {
	color: var(--text);
	opacity: 0.5;
}

.sideBarContainer > ul li + li {
	margin-top: 8px;
}

.sideBarContainer > ul li a::before {
	content: '';
	position: absolute;
	width: 4px;
	background: transparent;
	top: 0;
	left: 0;
	bottom: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	transition: background-color 0.2s;
}

.sideBarContainer > ul li a:hover::before {
	background: var(--blue);
}

.sideBarContainer > ul li a.currentRoute svg {
	color: var(--blue);
	opacity: 1;
}

.sideBarContainer > ul li a.currentRoute::before  {
	background: var(--blue);
}

.sideBarContainer button {
	margin-bottom: 4rem;
	background: transparent;
	color: var(--text);
	opacity: 0.5;

	transition: opacity 0.2s;
}

.sideBarContainer button svg {
	height: 2rem;
	width: 2rem;

}

.sideBarContainer button:hover {
	opacity: 1;
}
