.leaderboardContainer {
	grid-area: content;

	max-width: 992px;
	margin: 0 auto;
	padding: 2.5rem 2rem;
}

.leaderboardContainer .gridContainer {
	width: 60rem;
	margin-top: 2.5rem;
}

.leaderboardContainer .gridContainer .gridTitles {
	width: 100%;
	display: grid;
	grid-template-columns: 4.5rem 31.4rem 1fr 1fr;

	margin-bottom: 1.5rem;
	opacity: 0.5;
	color: var(--text);
	font-size: 0.9rem;
	text-align: left;
	text-transform: uppercase;
}

.leaderboardContainer .gridContainer .gridTitles p.gridTitleColumn:first-child {
	text-align: center;
}

.leaderboardContainer .gridContainer .gridTitles p.gridTitleColumn:not(:first-child) {
	padding: 0 1.4rem;
}

.leaderboardContainer .gridContainer .gridUserRow {
	border-radius: 5px;
	margin-bottom: 0.5rem;
	overflow: hidden;
	height: 6rem;
	display: grid;
	grid-template-columns: 4.5rem 31.4rem 1fr 1fr;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn {
	display: flex;
	align-items: center;
	background: var(--white);
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn:first-child {
	font-weight: 500;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn:nth-child(2) {
	margin-left: 4px;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn:not(:first-child) {
	padding: 0 1.4rem;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn > div {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn > div p {
	font-weight: 400;
	font-size: 1rem;
	margin-top: 7px;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn > div p img {
	width: 1rem;
	height: 0.9rem;
	margin-right: 9px;
}

.leaderboardContainer .gridContainer .gridUserRow div.gridUserColumn span {
	color: var(--blue);
	margin-right: 5px;
}
