.loginContainer {
	background: var(--blue);
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.loginContainer div.columnLogo {
	display: flex;
}

.loginContainer div.columnSignIn {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	justify-content: center;

	animation: fadeIn 800ms;
}

.loginContainer div.columnSignIn > img {
	margin-bottom: 6rem;
}

.loginContainer div.columnSignIn h2 {
	color: var(--white);
	font-size: 2.25rem;
	margin-bottom: 1.5rem;
}

.loginContainer div.columnSignIn > div {
	display: flex;
	align-items: center;
	margin-bottom: 2.5rem;
}

.loginContainer div.columnSignIn > div p {
	margin-left: 1.5rem;
	max-width: 254px;
	color: var(--text-highlight);
}

.loginContainer div.columnSignIn form .inputContainer {
	height: 5rem;
	background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
	border-radius: 5px;

	display: flex;
	align-items: center;
}

.loginContainer div.columnSignIn form .inputContainer input {
	height: 100%;
	width: calc(100% - 5rem);
	background: transparent;
	color: var(--white);
	font-size: 1rem;
	padding-left: 1.87rem;
}

.loginContainer div.columnSignIn form .inputContainer input::placeholder {
	color: var(--text-highlight);
}

.loginContainer div.columnSignIn form .inputContainer button {
	height: 100%;
	width: 5rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: filter 0.2s;
}

.loginContainer div.columnSignIn form .inputContainer button:hover {
	filter: brightness(0.9);
}

.loginContainer div.columnSignIn form > p {
	text-align: center;
	margin-top: 1rem;
	color: var(--red-error);
	display: flex;
	align-items: center;
}

.loginContainer div.columnSignIn form > p svg {
	width: 22px;
	height: 22px;
	margin-right: 0.5rem;
}

@keyframes fadeIn {
	from {
		transform: translateX(-8%);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}
